<header>
    <div id="siteheading">
        <a href="/">Bipana Gurung</a>
    </div>
    <div id="sitesubheading">
        <span>Images & Words</span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/pages/photography">Photography</a>
            </li>

            <li>
                <a href="/pages/graphic-designs">Graphic Designs</a>
            </li>

            <li>
                <a href="/pages/essays">Essays</a>
            </li>
            <li>
                <a href="/pages/about">About</a>
            </li>
        </ul>
    </nav>
</header>