header {
    /* margin: 1rem; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: url("../topo.png");
}

#siteheading {
    margin-top: 1rem;
    font-family: "Cinzel";
    font-size: 2.5rem;

}

#siteheading a {
    color: #5f606b;
}

#sitesubheading {

    font-family: "Garamond Italic";
    font-size: 1.5rem;
    color: #A5A3A2;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
    padding: .5rem;
    margin-top: 1rem;
    /* background-color: #E9EAD3; */
    background: url("../topo.png");

}

body {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    /* background-color: #E9EAD3; */
    background: url("../topo.png");

}

main {
    margin-top: 11rem;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main img {
    max-width: 400px;
}

main p {
    opacity: 70%;

}

nav ul {
    background: #95959573;
    /* background: linear-gradient(90deg, rgba(9,9,121,0.21052170868347342) 19%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%); */
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1rem;
    display: inline-block;
    border-radius: 10px;
    border-top: 1px solid #dac6be;
    border-bottom: 1px solid #dac6be;
}

nav li {
    font-family: "Cinzel";
    display: inline-block;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 1.20rem;
}

nav a {
    border: 1px solid transparent;
    color: rgba(70, 41, 41, 0.932);
}

nav ul li:hover {
    background: #53a593;
    border-radius: 10%;
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    margin: 0.4rem 0 1rem 0;
    opacity: 60%;
}

p {
    text-align: justify;
    margin-bottom: 0.7rem;
}

.pswp__custom-caption {
    background: rgba(26, 8, 34, 0.459);
    font-family: "Garamond Italic";
    /* font-style: italic; */
    font-size: 1.5rem;
    color: #cbc9db;
    width: calc(100% - 32px);
    max-width: 400px;
    border-radius: 4px;
    position: absolute;
    left: 85%;
    top: 10%;
    transform: translateX(-50%);
}

.pswp__custom-caption a {
    color: #fff;
    text-decoration: underline;
}

.hidden-caption-content {
    display: none;
}

.about {
    display: table-cell;
    margin-top: 4rem;
    vertical-align: middle;
}

.pswp-gallery img {
    margin: .05rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

section img:hover {
    opacity: 70%;
    transition: .4s;
}
small{
    font-size: 1rem;
}